<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-52">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Ready to Take Your Business to the Next Level?  </h2>
            <p class="cs-text">
                We'll get your website set-up and optimized to see real results in the next 6 months.
            </p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
        <!-- Background Image-->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/clicking-1-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/clicking-1-m.jpg">
            <img loading="lazy" decoding="async" src="../assets/images/clicking-1-m.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
        </picture>
    </div>
</section>
                                