---
title: 'E2 Web Design Portfolio | Websites That Convert'
description: 'Browse E2 Web Design’s portfolio of custom websites. Modern, SEO-optimized designs that grow leads and bookings.'
preloadImg: '/assets/images/land-l.jpg'
permalink: 'portfolio/'
eleventyNavigation:
    key: Our Work
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PMWRDKC2Q9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PMWRDKC2Q9');
    </script>

{% endblock %}
    
{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Work</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/land-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/land-l.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/land-l.jpg" alt="portfolio banner" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Websites We've Built for Businesses Like Yours</h2>
            <p class="cs-text">
                We make professional websites for growing businesses. Every line of code is handwritten to ensure you get the best page speed, performance, and SEO possible. We're not just a web design agency, we're a partner in your success.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://stpauldetail.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-1.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-1.png">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio-1.png" alt="St Paul Detail homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Paul Detail</h3>
                            <span class="cs-desc">Metro Area Mobile Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="https://stpaulcardetailing.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-4.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-4.png">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio-4.png" alt="Twin Cities Detail hompage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Twin Cities Detail</h3>
                            <span class="cs-desc">Twin Cities Automotive Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://ststeaks.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-5.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-5.png">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio-5.png" alt="St. Steaks homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Steaks</h3>
                            <span class="cs-desc">St. Paul Steak House</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="https://silvergym.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-6.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-6.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio-6.png" alt="Silver Gym homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Silver Gym</h3>
                            <span class="cs-desc">Twin Cities Area Gym</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 5 -->
            <li class="cs-item">
                <a href="https://lakesarealandscaping.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-3.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/portfolio-3.png" alt="Lakes Area Landscaping homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Landscaping</h3>
                            <span class="cs-desc">Alexandria Home and Commercial Landscaping</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 6 -->
            <li class="cs-item">
                <a href="https://lakesareadental.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio-2.png">
                        <img loading="lazy" decoding="async" src="/assets/images/portfolio-2.png" alt="Lakes Area Dental homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Dental</h3>
                            <span class="cs-desc">Alexandria Dental Clinic</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}