---
title: 'Pricing | E2 Web Design'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'pricing/'
eleventyNavigation:
    key: Pricing
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Work</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/typing-8-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/typing-8-l.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/typing-8-l.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-356">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">It’s Easy to Get Started</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-356" class="cs-plan">Weekly</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-356" class="cs-plan">Monthly</span>
            </div>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item">
                <h3 class="cs-h3">Businesses</h3>
                <p class="cs-item-text">
                    Perfect for getting your business online.
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$179<span class="cs-small">/month</span></span>
                    <span class="cs-price cs-option2-text">$1788<span class="cs-small">/year</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        5-page, mobile-responsive website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Google Business Profile setup & optimization
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hosting, domain, SSL, and email setup
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Technical and on-page SEO
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Peak-Performance Guarantee
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Monthly performance reports
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, and Maintenance
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Free Refresh Every 3-5 Years
                    </li>
                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">Business Plus</h3>
                <p class="cs-item-text">
                    Perfect for boosting your business online.  
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$249<span class="cs-small">/month</span></span>
                    <span class="cs-price cs-option2-text">$2,988<span class="cs-small">/year</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        5-page, mobile-responsive website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Google Business Profile setup & optimization
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hosting, domain, SSL, and email setup
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Technical and on-page SEO
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Peak-Performance Guarantee
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Monthly performance reports
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, and Maintenance
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Free Refresh Every 3-5 Years
                    </li>
                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">Business Pro</h3>
                <p class="cs-item-text">
                    Perfect for supercharging your business online. 
                </p>
                <div class="cs-option-group">
                    <span class="cs-price cs-option1-text">$399<span class="cs-small">/month</span></span>
                    <span class="cs-price cs-option2-text">$4,788<span class="cs-small">/year</span></span>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        5-page, mobile-responsive website
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Google Business Profile setup & optimization
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hosting, domain, SSL, and email setup
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Technical and on-page SEO
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Peak-Performance Guarantee
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Monthly performance reports
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, and Maintenance
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, and Maintenance
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Free Refresh Every 3-5 Years
                    </li>
                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}