---
title: 'E2 Web Design Reviews | Trusted Alexandria MN Website Experts'
description: 'See why businesses in Alexandria, MN trust E2 Web Design. Honest reviews from clients who love their mobile-friendly, SEO-ready websites.'
preloadImg: '/assets/images/land-l.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 600
---
    
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PMWRDKC2Q9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PMWRDKC2Q9');
    </script>

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Reviews</h1>
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/land-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/land-l.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/land-l.jpg" alt="reviews banner" width="2500" height="1667" loading="eager">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews">
    <div class="container">
        <div class="review">
            <a href="https://www.google.com/maps/place/E2+Web+Design/@45.5004043,-101.6838055,6.23z/data=!4m16!1m9!3m8!1s0xab097339aa59bddf:0x3d1bafbe477bdf4d!2sE2+Web+Design!8m2!3d44.2529105!4d-91.8551275!9m1!1b1!16s%2Fg%2F11xs3xm4dm!3m5!1s0xab097339aa59bddf:0x3d1bafbe477bdf4d!8m2!3d44.2529105!4d-91.8551275!16s%2Fg%2F11xs3xm4dm?entry=ttu&g_ep=EgoyMDI1MDgyNC4wIKXMDSoASAFQAw%3D%3D">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/google-logo.webp" alt="google-logo" width="99" height="99">
                </picture>
                <p>
                    We are blown away by Coty & Paul’s talent. They listened to what we needed and somehow created a website that exceeded our expectations. They made the entire process seamless and took the weight of everything off of our shoulders. We couldn’t recommend them enough!
                </p>
                <div class="star-group">
                    <span class="name">Stephanie B.<span class="desc">Runestone Racing</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </a>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}