---
title: 'Services | E2 Web Design'
description: 'Web design for growing businesses'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'web-design/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Our Services</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/typing-8-m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/typing-8-l.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/typing-8-l.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Our Services</h2>
            </div>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/design.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Design</h3>
                    <p class="cs-item-text">
                        Exceptional website design that doesn’t break the bank. Say goodbye to generic templates and hello to custom designs that make your brand unforgettable.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/cell.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Development</h3>
                    <p class="cs-item-text">
                        Tired of a website that doesn’t deliver results? We craft powerful, customer-focused websites and provide all the tools you need to thrive online.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="../assets/svgs/optimize.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Hosting and Domains</h3>
                    <p class="cs-item-text">
                        Not sure how to buy a domain or host your website? Don’t worry, we handle it all. Our packages include hosting, domain management, and reliable support.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/edits.svg"
                            loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Full Time Management</h3>
                    <p class="cs-item-text">
                        Need to add a new team member or update your services? We'll handle all of your website needs with unlimited edits and support.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/performance-report.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Copywriting and Content</h3>
                    <p class="cs-item-text">
                        Powerful, search-optimized copy created by skilled writers to elevate your visibility, propel you to the top of search results, and get customers to take action.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/staff.svg" loading="lazy"
                            decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Reputation Management</h3>
                    <p class="cs-item-text">
                        Trouble finding time to request, collect, post, and manage reviews? We'll make sure your good reviews don't go unnoticed.
                    </p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Services</a>
    </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-4581">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Custom Design and Development</h2>
            <p class="cs-text">
                Your business deserves more than a generic, slow-loading page-builder. We craft custom-designed websites that are sleek, professional, and built for speed—ensuring seamless performance on any device. A fast, expertly developed website keeps visitors engaged and boosts conversions, helping you win more customers.
            </p>
            {# <a href="" class="cs-button-solid">Learn More</a> #}
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/typing-6-m.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/typing-6-m.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/typing-6-m.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-4581">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Professional Content and Copywriting</h2>
            <p class="cs-text">
                Our expert copywriters craft persuasive, sales-driven content designed to guide potential clients through the buying journey. From attention-grabbing headlines to clear calls to action, every word is strategically written to increase bookings and inquiries. We make sure your website isn’t just seen—it sells.
            </p>
            {# <a href="" class="cs-button-solid">Learn More</a> #}
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/writing-1-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/writing-1-m.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/writing-1-m.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">100% Satisfaction Guaranteed! <span class="cs-line-break"> Try Us Risk Free for 30 Days</span></h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid cs-button-white">Get Started</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../assets/images/typing-8-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../assets/images/typing-8-l.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/typing-8-l.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>
                                
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RPsbs-458">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Unlimited Support and Management</h2>
            <p class="cs-text">
                Your website should never be a source of stress. With our unlimited edits, security updates, and ongoing maintenance, we handle everything—so you don’t have to. Need a change? Have a technical issue? We take care of it, all included in your monthly plan.
            </p>
            {# <a href="" class="cs-button-solid">Learn More</a> #}
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/stats-1-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/stats-1-s.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/stats-1-s.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-458">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Full-Time Reputation Management</h2>
            <p class="cs-text">
                Your best reviews should be front and center where new customers can see them. We help you collect, manage, and showcase glowing testimonials, making sure your reputation builds your business. With automated review requests and strategic placements, you’ll stand out in local searches and earn more trust.
            </p>
            {# <a href="" class="cs-button-solid">Learn More</a> #}
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/rep-1-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/rep-1-s.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/rep-1-s.jpg" alt="grass" width="649" height="617">
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Meet Your Team of Dedicated Professionals</h2>
            </div>
            <a href="" class="cs-button-solid cs-button-desktop">Get to Know Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Coty Massmann</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Paul Welfare</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid cs-button-mobile">Get to Know Us</a>
    </div>
</section>

<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-387">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Affordable Pricing & Flexible Payments</h2>
            <p class="cs-text">
                Start generating leads immediately with our flexible payment options. Your site can pay for itself over time!
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-387" class="cs-plan">Monthly</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-387" class="cs-plan">Lump Sum</span>
            </div>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item cs-popular">
                <div class="cs-top-section">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Business</h3>
                        <p class="cs-item-text">
                            Perfect for getting your business online. 
                        </p>
                    </div>
                    <div class="cs-option-group">
                        <span class="cs-price cs-option1-text">$99<span class="cs-small">/month</span></span>
                        <span class="cs-price cs-option2-text">$999<span class="cs-small"></span></span>
                    </div>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        5-Page, Mobile-First, Responsive Design
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hand-Coded Development
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Optimum Performance Guarantee
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Professional Sales Copywriting 
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Stock Images (If Needed)
                    </li>
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, & Maintenance  
                    </li>    
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hosting, domain, SSL, and email setup
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Google Business Profile Setup and Maps Listing
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        SEO (On-Page and Technical) Included
                    </li>
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Monthly Performance Reports 
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Contact Form Integration
                    </li>
                    <li class="cs-li cs-disabled">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Blog
                    </li>
                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
            <!-- Option 2 -->
            <li class="cs-item">
                <div class="cs-top-section">
                    <div class="cs-flex">
                        <h3 class="cs-h3">Business Pro</h3>
                        <p class="cs-item-text">
                            Get the most out of your business online. 
                        </p>
                    </div>
                    <div class="cs-option-group">
                        <span class="cs-price cs-option1-text">$149<span class="cs-small">/month</span></span>
                        <span class="cs-price cs-option2-text">$1,499<span class="cs-small"></span></span>
                    </div>
                </div>
                <span class="cs-included">Package Includes</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        9-Page, Mobile-First, Responsive Design
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hand-Coded Development
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Optimum Performance Guarantee
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Professional Sales Copywriting 
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Stock Images (If Needed)
                    </li>
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Unlimited Support, Edits, & Maintenance  
                    </li>    
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Hosting, domain, SSL, and email setup
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Google Business Profile Setup and Maps Listing
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        SEO (On-Page and Technical) Included
                    </li>
                    <li class="cs-li cs-monthly-only">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Monthly Performance Reports 
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Contact Form Integration
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Blog
                    </li>
                </ul>
                <a href="/basic.html" class="cs-button-solid">Get Started</a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <h2 class="cs-title">Google Verified Reviews</h2>
        {# <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p> #}
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">St. Paul Detail</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Lakes Area Dental</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">View More Reviews</a>
    </div>
</section>

    <script src="/assets/js/pricing.js"></script>
    {% include 'components/cta.html' %}

{% endblock %}