---
title: 'Services | E2 Web Design'
description: 'Web design for growing businesses'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'web-design/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
{% endblock %}

{% block body %}


    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Services</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/typing-8-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/typing-8-l.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/typing-8-l.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-top-content">
    </div>
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/desk-m.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/desk-l.jpg">
            <img loading="lazy" decoding="async" src="../assets/images/desk-l.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Get More Out of Your Website for Less</h2>
            <p class="cs-text">
                It's not just a website, it's your first impression online. We're here to help you make it the best one possible. 
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/save.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">One Monthly Fee, No Upfront Payment</h3>
                        <p class="cs-li-text">
                            Save money and transform your business online with zero upfront costs.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/support.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited Support, Edits, and Maintenance</h3>
                        <p class="cs-li-text">
                           Want to update an image, introduce a new team member, or showcase a new service? Let us know, and we’ll do the rest.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/supercharge.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Lightning Fast Performance</h3>
                        <p class="cs-li-text">
                           We'll hand-code your website to super-charge load times, boost online search performance, and drive engagement.
                        </p>
                    </div>
                </li>
            </ul>  
            <a href="" class="cs-button-solid">Why Choose Us</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->        
<section id="services-1187">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our Services</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/design.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Design</h3>
                    <p class="cs-item-text">Exceptional website design that doesn’t break the bank. Say goodbye to generic templates and hello to custom designs that make your brand unforgettable.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="../assets/svgs/develop.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Development</h3>
                    <p class="cs-item-text">Tired of a website that doesn’t deliver results? We craft powerful, customer-focused websites and provide all the tools you need to thrive online.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/host.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Hosting and Domains</h3>
                    <p class="cs-item-text">Not Sure how to buy a domain or host your website? Don’t worry, we handle it all. Our packages include hosting, domain management, and reliable support.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/manage.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Full Time Management</h3>
                    <p class="cs-item-text">Need to add a new team member or update your services? We'll handle all of your website needs with unlimited edits and support.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/copy.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Copywriting and Content</h3>
                    <p class="cs-item-text">Powerful, search-optimized copy created by skilled writers to elevate your visibility, propel you to the top of search results, and get customers to take action.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/rep.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Reputation Management</h3>
                    <p class="cs-item-text">Trouble finding time to collect, post, comment on, and manage reviews? We'll make sure your online reputation reflects your professional service.</p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Services</a>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-2232">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Say Goodbye to Web Design Frustrations</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/save.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">No Page Builders</h3>
                        <p class="cs-li-text">
                            Unlike DIY platforms with confusing limitations, E2 Web Design handles every technical and design detail for a seamless, stress-free website.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                  <picture class="cs-li-picture">
                    <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/support.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                  </picture>
                  <div class="cs-flex">
                      <h3 class="cs-h3">No Creative Blocks</h3>
                      <p class="cs-li-text">
                          Our expert designers create custom, on-brand websites that captivate your audience and outperform generic templates.
                      </p>
                  </div>
                </li>
                <li class="cs-item">
                  <picture class="cs-li-picture">
                    <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/supercharge.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                  </picture>
                  <div class="cs-flex">
                      <h3 class="cs-h3">No Hidden Costs</h3>
                      <p class="cs-li-text">
                          Unlike agencies with hidden fees, our all-inclusive monthly packages provide custom design, hosting, and support at a predictable, affordable rate.
                      </p>
                  </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/save.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">No Wasted Time</h3>
                        <p class="cs-li-text">
                            Website upkeep is time-consuming—we handle all updates, edits, and maintenance at no extra cost, so you can focus on your business.
                        </p>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="../assets/images/desk-m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="../assets/images/desk-l.jpg">
                <img loading="lazy" decoding="async" src="../assets/images/desk-l.jpg" alt="wedding" width="243" height="367">
            </picture>
        </div>
    </div>
</section>





    {% include 'components/cta.html' %}

{% endblock %}