---
title: 'Why Us | E2 Web Design'
description: 'We make websites for small businesses'
preloadImg: '/assets/images/land-l.jpg'
permalink: 'why-us/'
eleventyNavigation:
    key: Why Us?
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/why-us.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Why Choose Us?</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/land-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/land-l.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/land-l.jpg" alt="why us banner" loading="eager" width="2500" height="1667">
        </picture>
    </section>
                                
 <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-20">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We've Got the Tools to Help You Grow</h2>
        </div>
         <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/professional.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Professional Online Presence</h3>
                <p class="cs-item-text">
                    We'll design and hand-develop your website to look great and showcase your expert skills.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/optimized.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Search Optimized</h3>
                <p class="cs-item-text">
                    We'll code your website by hand for the best possible performance on all key metrics.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/funnel.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Click Funnels</h3>
                <p class="cs-item-text">
                   We'll design your website to bring visitors through all of the crucial information they want before calling or book a service appointment.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/management-2.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Full Time Management</h3>
                <p class="cs-item-text">
                    We'll manage your website full time including unlimited edits and support so you can focus more time on your customers.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/template.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Tools and Templates</h3>
                <p class="cs-item-text">
                    We'll give you all of our tools and templates for all of your customer interactions online. 
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="../assets/svgs/performance-1.svg" alt="icon" width="68" height="68" aria-hidden="true">
                <h3 class="cs-h3">Performance Tracking</h3>
                <p class="cs-item-text">
                    We'll track how your website performs over time and create a customized report with key performance indicators every month.
                </p>
            </li>
        </ul>
    </div>
</section>


<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-284">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-content">
            <h2 class="cs-title">Getting Started is Quick and Easy</h2>
            <p class="cs-text">
                Our process is as simple and streamlined as possible so you can spend time on 
            </p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
        </div>
        <!-- Right Section -->
        <ul class="cs-right-section">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <p class="cs-item-text">
                    <strong>Complete a questionnaire</strong> about your business, services, and what makes you unique, and we'll handle the rest. 
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <p class="cs-item-text">
                    <strong>Review your design</strong> over a video screen share. Here we can make any changes you'd like and incorporate your feedback.
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <p class="cs-item-text">
                    <strong>Sit back and relax</strong> for the next 10 days while we hand code your new site. 
                </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">04</span>
                <p class="cs-item-text">
                    <strong>Launch your website</strong> after you're reviewed the demo link and are 100% satisfied. 
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">We're Here Whenever You Need Us</h2>
            </div>
            {# <a href="/services" class="cs-button-solid cs-button-desktop">Learn More</a> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="Coty" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Coty Massmann</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="Paul" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Paul Lansdall-Welfare</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
        </ul>
        {# <a href="/why-us" class="cs-button-solid cs-button-mobile">Get to Know Us</a> #}
    </div>
</section>


<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our 10 Most Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why should I choose E2 Web Design?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Our websites are hand-coded, sales-focused, and tested for performance, SEO, and accessibility.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take to build my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Typically 10 business days after gathering all necessary information.
                    </p>
                </li>
                                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What if I need changes to my site later?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Unlimited edits are included with all plans.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I own my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! You have full ownership of your site and content.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What’s included in the monthly fee?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Hosting, domain, SSL, analytics, updates, and much more.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Will my site be mobile-friendly?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Absolutely! All our sites are fully responsive.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         Can I track my website’s performance?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! We provide monthly, quarterly, and yearly reports.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         What is reputation management?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       We help you collect, monitor, and respond to reviews to enhance your online reputation.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What happens if I outgrow my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We’ll seamlessly upgrade your plan to meet your needs.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           How do I get started?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Click “Get Started Today” to schedule your free consultation.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                            
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <h2 class="cs-title">Google Verified Reviews</h2>
        {# <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p> #}
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">St. Paul Detail</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Lakes Area Dental</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">View More Reviews</a>
    </div>
</section>
                                
    {% include 'components/cta.html' %}

{% endblock %}