/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-20 {
    padding: var(--sectionPadding);
  }
  #services-20 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 43.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-20 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-20 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  #services-20 .cs-item {
    list-style: none;
    text-align: center;
    width: 100%;
    max-width: 25.8125rem;
    margin: 0;
  }
  #services-20 .cs-icon {
    /* 60px -68px */
    width: clamp(3.75em, 5vw, 4.25em);
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: block;
    background: var(--svgBackground);
    padding: 0.5rem;
    border-radius: 1rem;
  }
  #services-20 .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: inherit;
    font-weight: 700;
    color: var(--headerColor);
    margin: 0 auto 1rem;
  }
  #services-20 .cs-item-text {
    /* 14px -16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    color: var(--bodyTextColor);
    margin: 0 auto 1rem;
  }
  #services-20 .cs-link {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary);
    position: relative;
  }
  #services-20 .cs-link:before {
    content: "";
    position: absolute;
    display: block;
    height: 0.1875rem;
    width: 0%;
    background-color: var(--primary);
    opacity: 1;
    bottom: -0.1875rem;
    left: 0;
    transition: width 0.3s;
  }
  #services-20 .cs-link:hover:before {
    width: 100%;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #services-20 .cs-picture {
    max-width: 44.625rem;
    width: 90%;
    aspect-ratio: 714/433;
  }
  #services-20 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 4rem;
    flex-wrap: wrap;
  }
  #services-20 .cs-item {
    width: 47%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-20 .cs-container {
    max-width: 80rem;
  }
  #services-20 .cs-item {
    width: 30%;
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-284 {
    padding: var(--sectionPadding);
    background-color: #f7f7f7;
  }
  #steps-284 #cs-desktop-button {
    display: none;
  }
  #steps-284 .cs-container {
    width: 100%;
    /* changes to 1104px on tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-284 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 27.125rem;
    /* centers content horizontally, set to flex-start to left align */
  }
  #steps-284 .cs-text {
    margin-bottom: 1rem;
  }
  #steps-284 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #steps-284 .cs-right-section {
    margin: 0;
    margin-top: -3rem;
    padding: 0;
    max-width: 35.125rem;
  }
  #steps-284 .cs-item {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #steps-284 .cs-item:nth-of-type(1) .cs-item-text:before {
    height: 50%;
    top: auto;
    bottom: -1px;
  }
  #steps-284 .cs-item:nth-of-type(2),
  #steps-284 .cs-item:nth-of-type(4) {
    justify-content: flex-end;
    text-align: right;
  }
  #steps-284 .cs-item:nth-of-type(2) .cs-number,
  #steps-284 .cs-item:nth-of-type(4) .cs-number {
    /* Send number to the right */
    order: 2;
    margin: 0;
    /* 15px - 24px */
    margin-left: clamp(0.9375rem, 3vw, 1.5rem);
  }
  #steps-284 .cs-item:nth-of-type(2) .cs-item-text,
  #steps-284 .cs-item:nth-of-type(4) .cs-item-text {
    /* reverse padding */
    padding-left: 0;
    /* 15px - 24px */
    padding-right: clamp(0.9375rem, 3vw, 1.5rem);
    /* reset the border on the :before */
  }
  #steps-284 .cs-item:nth-of-type(2) .cs-item-text:before,
  #steps-284 .cs-item:nth-of-type(4) .cs-item-text:before {
    border-top: 4px solid var(--primary);
    border-left: none;
    border-right: 4px solid var(--primary);
    left: auto;
    right: 0;
    bottom: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    margin-top: -3px;
  }
  #steps-284 .cs-item:nth-of-type(2) .cs-item-text:after,
  #steps-284 .cs-item:nth-of-type(4) .cs-item-text:after {
    /* move dot to the right now */
    left: auto;
    right: -0.75rem;
  }
  #steps-284 .cs-item:nth-of-type(3) .cs-item-text:before {
    height: auto;
    border-top: 4px solid var(--primary);
    border-radius: 0.5rem 0 0 0.5rem;
    top: 1px;
    bottom: 0px;
  }
  #steps-284 .cs-item:nth-of-type(4) .cs-item-text:before {
    height: 50%;
    border-radius: 0 0.5rem 0 0;
    border-bottom: none;
    top: -1px;
  }
  #steps-284 .cs-number {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 700;
    /* 15px - 24px */
    margin-right: clamp(0.9375rem, 3vw, 1.5rem);
    /* 40px - 52px */
    width: clamp(2.5rem, 5.1vw, 3.25rem);
    height: clamp(2.5rem, 5.1vw, 3.25rem);
    border-radius: 0.75rem;
    box-shadow: 2px 2px 10px #00000011;
    background-color: var(--svgBackground);
    color: var(--primaryLight);
    display: flex;
    justify-content: center;
    align-items: center;
    /* prevents flexbox from squishing it */
    flex: none;
    position: relative;
    transition: transform 0.3s;
  }
  #steps-284 .cs-number:hover {
    transform: translateY(-0.5rem);
  }
  #steps-284 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    max-width: 18.75rem;
    /* 22px - 32px */
    padding: clamp(1.375rem, 3vw, 2rem) 0;
    box-sizing: content-box;
    /* 15px - 24px */
    padding-left: clamp(0.9375rem, 3vw, 1.5rem);
    position: relative;
  }
  #steps-284 .cs-item-text:before {
    /* Blue line */
    content: "";
    width: 70%;
    height: 100%;
    border-radius: 0 0 0 0.5rem;
    border-left: 4px solid var(--primary);
    border-bottom: 4px solid var(--primary);
    box-sizing: content-box;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #steps-284 .cs-item-text:after {
    /* list circle */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: var(--primary);
    border-radius: 0.75rem;
    border: 10px solid #f7f7f7;
    box-sizing: content-box;
    opacity: 1;
    position: absolute;
    display: block;
    top: 50%;
    left: -0.75rem;
    transform: translateY(-50%);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-284 #cs-desktop-button {
    display: block;
  }
  #steps-284 #cs-mobile-button {
    display: none;
  }
  #steps-284 .cs-container {
    max-width: 69rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 2.75rem;
  }
  #steps-284 .cs-content {
    text-align: left;
    width: 50%;
    /* reset margin to play nice with flexbox */
    margin: 0;
    max-width: 27.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-284 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 27.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-284 .cs-right-section {
    width: 57%;
    /* 20px - 25px - this pulls the section up so it's flush with the top of the left section, the padding top on the .cs-item-text is creating a gap at the top of the section. Wrapped in a calc() function to turn clamp() value into a negative number */
    margin-top: calc(clamp(1.25rem, 2vw, 1.5625rem) * -1);
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1141 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #meet-team-1141 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1141 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 542/16rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-1141 .cs-title {
    max-width: 20ch;
  }
  #meet-team-1141 .cs-card-group {
    width: 100%;
    max-width: 630/16rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* 16px - 20px */
    gap: clamp(1rem, 2.3vw, 1.25rem);
    position: relative;
  }
  #meet-team-1141 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-1141 .cs-item:hover .cs-picture:before,
  #meet-team-1141 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-1141 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-1141 .cs-picture {
    width: 100%;
    height: auto;
    margin: 0 0 0.5rem 0;
    /* removed at tablet */
    aspect-ratio: 0.80589681;
    border-radius: 1.5rem;
    /* clips the img corners */
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    border: clamp(0.375em, 1.5vw, 0.75em) solid #f7f7f7;
    background-color: white;
    z-index: 1;
  }
  #meet-team-1141 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-1141 .cs-info {
    width: 90%;
    margin: -2.625rem 0 0;
    padding: 1rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #eaeae7;
    box-shadow: 2px 2px 10px #00000033;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s;
  }
  #meet-team-1141 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1141 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin-right: 0;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #meet-team-1141 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #meet-team-1141 .cs-item {
    width: 100%;
  }
  #meet-team-1141 .cs-picture {
    height: 25.4375rem;
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
  }
}
/* Mobile Buttons */
@media only screen and (max-width: 56.25rem) {
  .cs-button-mobile {
    /* prevents flexbox from squishing it */
    flex: none;
  }
  .cs-button-desktop {
    /* prevents flexbox from squishing it */
    display: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 56.25rem) {
  #meet-team-1141 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #meet-team-1141 .cs-content {
    text-align: left;
    width: 55%;
    flex-direction: column;
    align-items: flex-start;
    order: 2;
  }
  #meet-team-1141 .cs-card-group {
    justify-content: center;
    flex-wrap: nowrap;
    order: 1;
  }
  #meet-team-1141 .cs-item {
    width: 100%;
  }
  #meet-team-1141 .cs-button-mobile {
    /* prevents flexbox from squishing it */
    display: none;
  }
  #meet-team-1141 .cs-button-desktop {
    /* prevents flexbox from squishing it */
    display: block;
    flex: none;
  }
}
/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #quote-561 {
    padding: var(--sectionPadding);
  }
  #quote-561 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #quote-561 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #quote-561 .cs-topper {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }
  #quote-561 .cs-topper:before {
    /* yellow line */
    content: "";
    width: 3.125rem;
    height: 2px;
    background: var(--secondary);
    opacity: 1;
    display: block;
  }
  #quote-561 .cs-quote {
    /* 31px - 49px */
    font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    color: var(--headerColor);
  }
  #quote-561 .cs-name {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.7vw, 1.25rem);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 2rem;
    color: var(--secondary);
    display: block;
    letter-spacing: 0.01em;
  }
}
/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #faq-326 {
    padding: var(--sectionPadding);
    background-color: #F7F7F7;
  }
  #faq-326 .cs-container {
    width: 100%;
    max-width: 43.75rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #faq-326 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #faq-326 .cs-title {
    margin: 0;
  }
  #faq-326 .cs-faq-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
  }
  #faq-326 .cs-faq-item {
    list-style: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 10px #0000000f;
    border-radius: 0.5rem;
    /* clips all corners of the button that overlap the rounded border */
    overflow: hidden;
    transition: border-bottom 0.3s;
  }
  #faq-326 .cs-faq-item.active .cs-button {
    background: var(--primary);
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #faq-326 .cs-faq-item.active .cs-button:before {
    background-color: #fff;
    transform: rotate(315deg);
  }
  #faq-326 .cs-faq-item.active .cs-button:after {
    background-color: #fff;
    transform: rotate(-315deg);
  }
  #faq-326 .cs-faq-item.active .cs-item-p {
    height: auto;
    /* 20px - 24px top & bottom */
    /* 16px - 24px left & right */
    padding: clamp(1.25rem, 1.3vw, 1.5rem) clamp(1rem, 2vw, 1.5rem);
    opacity: 1;
  }
  #faq-326 .cs-button {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: left;
    font-weight: bold;
    /* 16px - 20px */
    padding: clamp(1rem, 1.3vw, 1.25rem);
    background-color: #fff;
    border: none;
    border-radius: 0.5rem;
    color: var(--headerColor);
    display: block;
    width: 100%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  #faq-326 .cs-button:hover {
    cursor: pointer;
  }
  #faq-326 .cs-button:before {
    /* left line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.5rem;
    transform: rotate(45deg);
    /* animate the transform from the left side of the x axis, and the center of the y */
    transform-origin: left center;
    transition: transform 0.5s;
  }
  #faq-326 .cs-button:after {
    /* right line */
    content: "";
    width: 0.5rem;
    height: 0.125rem;
    background-color: var(--headerColor);
    opacity: 1;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 1.3125rem;
    transform: rotate(-45deg);
    /* animate the transform from the right side of the x axis, and the center of the y */
    transform-origin: right center;
    transition: transform 0.5s;
  }
  #faq-326 .cs-button-text {
    width: 80%;
    display: block;
  }
  #faq-326 .cs-item-p {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    width: 90%;
    height: 0;
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    opacity: 0;
    color: var(--bodyTextColor);
    /* clips the text so it doesn't show up */
    overflow: hidden;
    transition: opacity 0.3s, padding-bottom 0.3s;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
    display: flex;
    justify-content: center;
  }
  #reviews .cs-container {
    max-width: 69rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #reviews .cs-title {
    text-align: center;
    margin-bottom: 6.25rem;
  }
  #reviews .cs-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.75rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 2px 2px 10px #00000022;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 2px 10px #0000001c;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: calc(-40 / 16 * 1rem);
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
