
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2273 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px on desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 20px - 24px */
            gap: clamp(1.25rem, 1.7vw, 1.5rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            gap: (24/16rem);
            transition: background-color 0.3s;
        }

        .cs-li-picture {
            width: (70/16rem);
            height: (70/16rem);
            margin: 0;
            border-radius: 1.2rem;
            background-color: var(--svgBackground);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-li-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-flex {
            flex: 1 1 0;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: auto 0 0 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.8vw, .89rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (522/16em);
            height: (611/16em);
            order: -1;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture {
            width: (493/16em);
            height: (583/16em);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                border-radius: (16/16rem);
                border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
                top: 0;
                left: 0;
            }
        }

        .cs-flower {
            /* 125px - 309px */
            width: clamp(7.8125rem, 31vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            /* 0px - 34px */
            top: calc(clamp(0rem, 4vw, 2.125rem) * -1);
            /* 33px - 116px */
            left: calc(clamp(2.0625rem, 12vw, 7.25rem) * -1);
            z-index: 1;
            transform: rotate(18deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 600px) {
    #sbsr-2273 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2273 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1rem)";
            height: auto;
            min-height: (612/16em);
            order: initial;
        }

        .cs-picture {
            height: auto;
            top: 0;
            bottom: (28/16em);
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbsr-2273 {
        .cs-item {
            flex-direction: row;
        }

        .cs-flower {
            margin-right: (-824/16rem);
            top: initial;
            right: 50%;
            bottom: (-110/16rem);
            left: initial;
            transform: rotate(246deg);
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1187 {
        padding: var(--sectionPadding);
        background-color: var(--offSet);

        .cs-container {
            max-width: (1280/16rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* set text align to left if content needs to be left aligned */
            text-align: center;
        }

        .cs-card-group {
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            justify-content: center;
            row-gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            max-width: (368/16rem);
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }

        .cs-picture {
            width: (70/16rem);
            height: (70/16rem);
            margin-bottom: (20/16rem);
            box-sizing: border-box;
            /* prevents border from affecting height and width */
            background-color: var(--svgBackground);
            border-radius: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (35/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.5em;
            margin: 0;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            text-align: center;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            text-align: center;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1187 {
        .cs-card-group {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            column-gap: (40/16rem);
            row-gap: (40/16rem);
        }

        .cs-item {
            margin: 0;
            width: 46%;
            align-items: flex-start;
        }

        .cs-h3,
        .cs-item-text {
            text-align: left;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1187 {
        .cs-card-group {
            max-width: (1280/16rem);
        }

        .cs-item {
            flex-direction: row;
        }

        .cs-picture {
            margin: 0;
            margin-right: (20/16rem);
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2232 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px on desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            max-width: 30ch;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 20px - 24px */
            gap: clamp(1.25rem, 1.7vw, 1.5rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            gap: (24/16rem);
            transition: background-color 0.3s;
        }

        .cs-li-picture {
            width: (70/16rem);
            height: (70/16rem);
            margin: 0;
            border-radius: 1.2rem;
            background-color: var(--svgBackground);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-li-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-flex {
            flex: 1 1 0;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            margin: auto 0 0 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.8vw, .89rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (522/16em);
            height: (611/16em);
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
            order: -1;
        }

        .cs-picture {
            width: (493/16em);
            height: (583/16em);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                border-radius: (16/16rem);
                border: clamp(0.375em, 1.5vw, 0.75em) solid #f7f7f7;
                top: 0;
                left: 0;
            }
        }

        .cs-flower {
            /* 183px - 309px */
            width: clamp(11.4375rem, 28vw, 19.3125rem);
            height: auto;
            display: block;
            position: absolute;
            right: (-60/16rem);
            /* 55px - 109px */
            bottom: calc(clamp(3.4375rem, 6vw, 4.8125rem) * -1);
            z-index: 1;
            transform: rotate(95deg);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 600px) {
    #sbsr-2232 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2232 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
            align-self: center;
        }

        .cs-image-group {
            font-size: ~"min(1.3vw, 1rem)";
            height: auto;
            min-height: (612/16em);
            order: initial;
        }

        .cs-picture {
            height: auto;
            top: 0;
            bottom: (28/16em);
        }
    }
}

/* Large Desktop - 1400px */
@media only screen and (min-width: 87.5rem) {
    #sbsr-2232 {
        .cs-item {
            flex-direction: row;
        }
    }
}


/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-1444 {
        padding: var(--sectionPadding);
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }
        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-card-group {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: (24/16rem);
        }
        
        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            width: (70/16rem);
            height: (70/16rem);
            margin: 0;
            border-radius: 1.2rem;
            background-color: var(--svgBackground);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-li-icon {
            width: (40/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-text {
            text-align: center;
        }

        .cs-li-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            max-width: (650/16rem);
            min-height: (362/16rem);
            border-radius: (24/16rem);
            /* clips img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;
            border: clamp(0.375em, 1.5vw, 0.75em) solid #f7f7f7;
            background-color: #f7f7f7;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }

        .cs-top-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .cs-bottom-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: (100/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-1444 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .cs-content {
            width: 50%;
            order: 1;
        }

        .cs-picture {
            height: 39rem;
            width: 39rem;
            // width: 55%;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-bottom-content {
            height: (150/16rem);
        }
    }
}


                                

                                