---
title: 'E2 Web Design | Alexandria, MN'
description: 'Meta description for the page'
preloadImg: '/assets/images/hero.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-492">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Level Up Your Business with a High-Performing Website</h1>
            <p class="cs-text">
                Increase traffic, get more leads, build credibility, showcase your skill, and manage your reputation online - all completely hands free. 
            </p>
            <a href="/contact" class="cs-button-solid">Get Started</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 414px)" srcset="../assets/images/hero-mobile.png">
        <source media="(max-width: 474px)" srcset="../assets/images/hero-mobile-2.png">
        <source media="(max-width: 570px)" srcset="../assets/images/hero-mobile-3.png">
        <source media="(max-width: 777px)" srcset="../assets/images/hero-mobile-4.png">
        <source media="(min-width: 777px)" srcset="../assets/images/hero.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/hero.jpg" alt="banner" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We Make Websites for Growing Businesses</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/leads.svg" alt="leads icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Get More Leads</h3>
                <p class="cs-item-text">
                   Our websites rank higher on search engines, perform better than page builders, and guide your visitors to take action.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/appointments.svg" alt="appointments icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Book More Appointments</h3>
                <p class="cs-item-text">
                   Our websites are professionally designed to give your visitors everything they need to book your service.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/growth.svg" alt=" growth icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Grow Your Business</h3>
                <p class="cs-item-text">
                    We'll handle all the edits, updates, security, maintenance, and technical issues, so you can do what you do best. 
                </p>
            </li>
        </ul>
    </div>
</section>    

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-top-content">
    </div>
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/e2-hero-s.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/e2-hero-m.jpg">
            <img loading="lazy" decoding="async" src="../assets/images/e2-hero-m.jpg" alt="tech office" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">What You'll  Get - Why It Matters</h2>
            <p class="cs-text"></p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/supercharge.svg" decoding="async" alt="lighting icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Lightning Fast Performance</h3>
                        <p class="cs-li-text">
                           We'll hand-code your website to super-charge load times, boost online search performance, and drive customers to take action.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/optimized.svg" decoding="async" alt="optimization icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">SEO Optimization</h3>
                        <p class="cs-li-text">
                            We'll use technical and on-page SEO to make sure your website has every advantage it needs when customers search for your services online.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/support.svg" decoding="async" alt="support icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited Support, Edits, and Maintenance</h3>
                        <p class="cs-li-text">
                           Want to update an image, introduce a new team member, or showcase a new service? We'll take care of it all. 
                        </p>
                    </div>
                </li>
            </ul>  
            <a href="/why-us" class="cs-button-solid">Why Choose Us</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->  

<section id="services-1629">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Everything You Need in One Package</h2>
            </div>
        </div>            
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/design.svg"
                            loading="lazy" decoding="async" alt=" design icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Professional Design</h3>
                    <p class="cs-item-text">
                        Elevate your brand with a high-quality, conversion-focused website that turns visitors into leads and appointments.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/cell.svg"
                            loading="lazy" decoding="async" alt=" mobile icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Great Mobile Performance</h3>
                    <p class="cs-item-text">
                        Guarantee your website looks and works great on any device, so potential clients can easily contact and book your services on the go.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="../assets/svgs/optimize.svg"
                            loading="lazy" decoding="async" alt=" optimization icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">SEO Optimization</h3>
                    <p class="cs-item-text">
                        Get found more often on Google and other search engines when customers look for your services.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/edits.svg"
                            loading="lazy" decoding="async" alt=" edits icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Unlimited Edits</h3>
                    <p class="cs-item-text">
                        Make changes to your website anytime. Just let us know, and we'll take care of the rest.  
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/performance-report.svg" loading="lazy"
                            decoding="async" alt="report icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Performance Reporting</h3>
                    <p class="cs-item-text">
                        Get easy-to-read reports and see exactly how your website is performing. 
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/staff.svg" loading="lazy"
                            decoding="async" alt=" management icon" width="32" height="32" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Full Time Management</h3>
                    <p class="cs-item-text">
                        Rest easy knowing your website's security, updates, and technical issues are handled by experts.
                    </p>
                </div>
            </li>
        </ul>
        <a href="/services" class="cs-button-solid">View All Services</a>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">100% Satisfaction Guaranteed! <span class="cs-line-break"> Try Us Risk Free for 30 Days</span></h2>
            </div>
            <div class="cs-button-box">
                <a href="/contact" class="cs-button-solid cs-button-white">Get Started</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../assets/images/typing-8-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../assets/images/typing-8-l.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/typing-8-l.jpg" alt="typing" width="1280" height="568">
    </picture>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Meet Your Team of Dedicated Professionals</h2>
            </div>
            <a href="/why-us" class="cs-button-solid cs-button-desktop">Why Choose Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="Coty" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Coty Massmann</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="Paul" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Paul Lansdall-Welfare</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
        </ul>
        <a href="/why-us" class="cs-button-solid cs-button-mobile">Why Choose Us</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Websites We've Built for Businesses Like Yours</h2>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://stpauldetail.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-1.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-1.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-1.png" alt="St Paul Detail homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Paul Detail</h3>
                            <span class="cs-desc">Metro Area Mobile Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="https://stpaulcardetailing.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-4.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-4.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-4.png" alt="Twin Cities Detail hompage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Twin Cities Detail</h3>
                            <span class="cs-desc">Twin Cities Automotive Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://ststeaks.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-5.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-5.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-5.png" alt="St. Steaks homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Steaks</h3>
                            <span class="cs-desc">St. Paul Steak House</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="https://silvergym.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-6.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-6.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/portfolio-6.png" alt="Silver Gym homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Silver Gym</h3>
                            <span class="cs-desc">Twin Cities Area Gym</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 5 -->
            <li class="cs-item">
                <a href="https://lakesarealandscaping.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-3.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/portfolio-3.png" alt="Lakes Area Landscaping homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Landscaping</h3>
                            <span class="cs-desc">Alexandria Home and Commercial Landscaping</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 6 -->
            <li class="cs-item">
                <a href="https://lakesareadental.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-2.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-2.png" alt="Lakes Area Dental homepage" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Dental</h3>
                            <span class="cs-desc">Alexandria Dental Clinic</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our 10 Most Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why should I choose E2 Web Design?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       We'll be your full-time website team and IT department. Along with your hand-coded, sales-focused, and performance tested website, you'll get full service maintenance including unlimited edits, security, and technical updates for the life of your plan. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take to build my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We'll have your ready for launch in 10 business days after gathering all necessary information.
                    </p>
                </li>
                                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What if I need changes to my site later?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        No need to worry. Unlimited edits are included with all plans.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I own my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! You have full ownership of your site and content.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What’s included in my monthly plan?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We'll take care of your hosting, domain, SSL, analytics, edits, security, technical updates, and much more.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Will my site be mobile-friendly?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Absolutely! We'll make sure your site looks and performs its best on every device.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         Can I track my website’s performance?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! We'll send you easy to read reports so you can see exactly how your site is performing. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         What is reputation management?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       We'll help you collect, monitor, and post your reviews so customers can see you for the expert you are. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What happens if I outgrow my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We’ll seamlessly upgrade your plan to meet your needs.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           How do I get started?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Call us today for your free consultation.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                            
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <h2 class="cs-title">Google Verified Reviews</h2>
        {# <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p> #}
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">St. Paul Detail</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Lakes Area Dental</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">View More Reviews</a>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}