---
title: 'E2 Web Design | Alexandria, MN'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-492">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Level Up Your Business with a High-Performing Website</h1>
            <p class="cs-text">
                Increase traffic, get more leads, build credibility, showcase your skill, and manage your reputation online - all completely hands free. 
            </p>
            <a href="" class="cs-button-solid">Get Started</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 414px)" srcset="../assets/images/hero-mobile.png">
        <source media="(max-width: 474px)" srcset="../assets/images/hero-mobile-2.png">
        <source media="(max-width: 570px)" srcset="../assets/images/hero-mobile-3.png">
        <source media="(max-width: 777px)" srcset="../assets/images/hero-mobile-4.png">
        <source media="(min-width: 777px)" srcset="../assets/images/hero.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/hero.jpg" alt="dna strand" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Grow Your Business Online</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/trust.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3"> Build Trust and Credibility</h3>
                <p class="cs-item-text">
                    A professional, high-performing website builds instant credibility. 
                    Paired with cohesive branding across platforms, 
                    we’ll ensure your business makes a lasting first impression.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/people-2.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3"> Attract More Customers</h3>
                <p class="cs-item-text">
                    Your customers are searching for services like yours online. 
                    With our optimized websites and Google Business Profile enhancements, 
                    you'll rank higher, get seen more often, and drive more traffic to your business.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="../assets/svgs/clock-2.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Save Time and Stress</h3>
                <p class="cs-item-text">
                    From web design to reputation management, we take care of the details 
                    so you can focus on running your business. With our ongoing support, 
                    you’ll have more time to serve your customers.
                </p>
            </li>
        </ul>
    </div>
</section>
                                                    

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1444">
    <div class="cs-top-content">
    </div>
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="../assets/images/stats-2-m.jpg">
            <source media="(min-width: 601px)" srcset="../assets/images/stats-2-l.jpg">
            <img loading="lazy" decoding="async" src="../assets/images/stats-2-l.jpg" alt="volunteers" width="650" height="600" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <h2 class="cs-title">Don’t Settle for Less</h2>
            <p class="cs-text">
                It's not just a website, it's your first impression online. We're here to help you make it the best one possible. 
            </p>
            <ul class="cs-card-group">
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/savings.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">One Monthly Fee, No Upfront Payment</h3>
                        <p class="cs-li-text">
                            Save money and transform your business online with zero upfront costs.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/support.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Unlimited Support, Edits, and Maintenance</h3>
                        <p class="cs-li-text">
                           Want to update an image, introduce a new team member, or showcase a new service? Let us know, and we’ll do the rest.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/performance.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Custom Coded with Our Peak-Performance Guarantee</h3>
                        <p class="cs-li-text">
                           We'll hand-code your website to super-charge load times, boost online search performance, and drive engagement.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture class="cs-li-picture">
                        <img class="cs-li-icon" aria-hidden="true" src="../assets/svgs/refresh-1.svg" decoding="async" alt="icon" width="32" height="32" loading="lazy">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Free Refresh Every 3-5 Years</h3>
                        <p class="cs-li-text">
                            As times change, so should your website. That’s why we offer a free redesign every few years, keeping your site fresh and up-to-date.
                        </p>
                    </div>
                </li>
            </ul>  
            <a href="" class="cs-button-solid">Why Choose Us</a>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->        
<section id="services-1187">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We've Got You Covered</h2>
            {# <p class="cs-text">
                Facilisis condimentum viverra scelerisque ac morbi sit sed. Turpis sagittis in blandit eleifend tortor ullamcorper eu placerat. Et orci felis volutpat, etiam vitae egestas volutpat pulvinar.
            </p> #}
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/design.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Design</h3>
                    <p class="cs-item-text">Exceptional website design that doesn’t break the bank. Say goodbye to generic templates and hello to custom designs that make your brand unforgettable.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="../assets/svgs/develop-2.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Website Development</h3>
                    <p class="cs-item-text">Tired of a website that doesn’t deliver results? We craft powerful, customer-focused websites and provide all the tools you need to thrive online.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/hosting.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Hosting, Domains, and Support</h3>
                    <p class="cs-item-text">Confused by DNS and tech jargon? Don’t worry—we handle it all. Our packages include hosting, domain management, reliable support, and a professional business email address tailored to your needs.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/brand-2.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Logos and Branding</h3>
                    <p class="cs-item-text">We craft distinctive logos and branding that form the backbone of your identity, setting you apart and positioning your business for success at any level.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/copywrite.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Copywriting and Content</h3>
                    <p class="cs-item-text">Powerful, search-optimized copy created by skilled writers to elevate your visibility, propel you to the top of search results, and get customers to take action.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="../assets/svgs/reputation-2.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Reputation Management</h3>
                    <p class="cs-item-text">Trouble finding time to collect, post, comment on, and manage reviews? We'll make sure your online reputation reflects the exceptional service you provide.</p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All Services</a>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1071">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Not Sure if Your Website is Performing Its Best?</h2>
            </div>
            <div class="cs-button-box">
                <a href="" class="cs-button-solid">Get a Free Audit Video</a>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../assets/images/typing-8-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../assets/images/typing-8-l.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/typing-8-l.jpg" alt="mechanic" width="1280" height="568">
    </picture>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1141">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Meet Your Team of Dedicated Professionals</h2>
            </div>
            <a href="" class="cs-button-solid cs-button-desktop">Get to Know Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Coty Massmann</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="../assets/images/anonymous.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="../assets/images/anonymous.jpg">
                    <img loading="lazy" decoding="async" src="../assets/images/anonymous.jpg" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Paul Welfare</span>
                    <span class="cs-job">Co-Owner / Developer</span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid cs-button-mobile">Get to Know Us</a>
    </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1374">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Websites We've Built for Businesses Like Yours</h2>
            <p class="cs-text">
                We specialize in small business web design and development for clients anywhere in the US. Every line of code is written by hand to ensure the best performance, which helps bring in more customers to your site and bring more revenue to your business.
            </p>
        </div>
        <ul class="cs-image-group">
            <!-- Card 1 -->
            <li class="cs-item">
                <a href="https://stpauldetail.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-1.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-1.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-1.png" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Paul Detail</h3>
                            <span class="cs-desc">Twin Cities Auto Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 2 -->
            <li class="cs-item">
                <a href="https://stpaulcardetailing.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-4.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-4.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-4.png" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Paul Premier</h3>
                            <span class="cs-desc">St. Paul Mobile Car Detailing</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 3 -->
            <li class="cs-item">
                <a href="https://lakesarealandscaping.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-3.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-3.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/portfolio-3.png" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Landscaping</h3>
                            <span class="cs-desc">Alexandria Home and Commercial Landscaping</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 4 -->
            <li class="cs-item">
                <a href="https://lakesareadental.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-2.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-2.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-2.png" alt="fancy house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Lakes Area Dental</h3>
                            <span class="cs-desc">Alexandria Dental Clinic</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 5 -->
            <li class="cs-item">
                <a href="https://ststeaks.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-5.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-5.png">
                        <img loading="lazy" decoding="async" src="../assets/images/portfolio-5.png" alt="modern house" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">St. Steaks</h3>
                            <span class="cs-desc">St. Paul Steak House</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- Card 6 -->
            <li class="cs-item">
                <a href="https://silvergym.netlify.app/" class="cs-link">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="../assets/images/portfolio-6.png">
                        <source media="(min-width: 601px)" srcset="../assets/images/portfolio-6.png">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="../assets/images/portfolio-6.png" alt="modern home at night" width="346" height="346">
                    </picture>
                    <div class="cs-item-text">
                        <div class="cs-flex">
                            <h3 class="cs-h3">Silver Gym</h3>
                            <span class="cs-desc">Twin Cities Area Gym</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-326">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Our 10 Most Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Why should I choose E2 Web Design?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Our websites are hand-coded, sales-focused, and tested for performance, SEO, and accessibility.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take to build my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Typically 10 business days after gathering all necessary information.
                    </p>
                </li>
                                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What if I need changes to my site later?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Unlimited edits are included with all plans.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Do I own my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! You have full ownership of your site and content.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What’s included in the monthly fee?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Hosting, domain, SSL, analytics, updates, and much more.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           Will my site be mobile-friendly?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       Absolutely! All our sites are fully responsive.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         Can I track my website’s performance?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Yes! We provide monthly, quarterly, and yearly reports.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                         What is reputation management?
                        </span>
                    </button>
                    <p class="cs-item-p">
                       We help you collect, monitor, and respond to reviews to enhance your online reputation.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           What happens if I outgrow my website?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        We’ll seamlessly upgrade your plan to meet your needs.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                           How do I get started?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Click “Get Started Today” to schedule your free consultation.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
                            
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews">
    <div class="cs-container">
        <h2 class="cs-title">Google Verified Reviews</h2>
        {# <p class="cs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
        </p> #}
        <ul class="cs-card-group">
            <!-- Review 1 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jon Doe
                    <span class="cs-desc">St. Paul Detail</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
            <!-- Review 2 -->
            <li class="cs-item">
                <img
                class="cs-item-img"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                alt="profile picture"
                width="80"
                height="80"/>
                <p class="cs-item-p">
                    Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                </p>
                <span class="cs-reviewer">
                    Jane Doe
                    <span class="cs-desc">Lakes Area Dental</span>
                </span>
                <img
                class="cs-item-stars"
                aria-hidden="true"
                loading="lazy"
                decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                alt="stars"
                width="96"
                height="16"/>
            </li>
        </ul>
        <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">View More Reviews</a>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}